<div class="filters glass-container">
  <div class="tabs">
    <button [class.active]="selectedTab === 'SELECCIONES'" (click)="selectedTab = 'SELECCIONES'">
      Selecciones
    </button>
    <button [class.active]="selectedTab === 'CLUBES'" (click)="selectedTab = 'CLUBES'">
      Clubes
    </button>
  </div>
  <div *ngIf="selectedTab">
    <div class="filters">
      <label *ngIf="selectedTab === 'SELECCIONES'">
        Confederación:
        <select [(ngModel)]="selectedConfederation">
          <option value="">Todas</option>
          <option *ngFor="let conf of uniqueConfederations" [value]="conf">{{ conf }}</option>
        </select>
      </label>

      <label *ngIf="selectedTab === 'CLUBES'">
        Liga:
        <select [(ngModel)]="selectedLeague">
          <option value="">Todas</option>
          <option *ngFor="let league of uniqueLeagues" [value]="league">{{ league }}</option>
        </select>
      </label>

      <label>
        Buscar por nombre:
        <input type="text" [(ngModel)]="searchName" placeholder="Ingresá el nombre">
      </label>

      <label>
        Ordenar por:
        <select [(ngModel)]="sortField">
          <option value="name">Nombre</option>
          <option value="score">Score</option>
        </select>
      </label>

      <label>
        Dirección:
        <select [(ngModel)]="sortDirection">
          <option value="asc">Ascendente</option>
          <option value="desc">Descendente</option>
        </select>
      </label>
    </div>
  </div>
  <div *ngIf="selectedTab && !isLoading">
    <table>
      <thead>
        <tr>
          <th *ngIf="selectedTab === 'SELECCIONES'">Bandera</th>
          <th *ngIf="selectedTab === 'CLUBES'">Escudo</th>
          <th>Nombre</th>
          <th *ngIf="selectedTab === 'SELECCIONES'">Confederación</th>
          <th *ngIf="selectedTab === 'CLUBES'">Liga</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of filteredTeams">
          <td class="flag-cell">
            <img *ngIf="team.image" [src]="assetsBaseUrl + '/' + team.image" [alt]="team.name" class="flag-icon" />
          </td>
          <td [attr.data-label]="'Nombre'">{{ team.name }} ({{ team.code }})</td>
          <td *ngIf="selectedTab === 'SELECCIONES'" [attr.data-label]="'Confederación'">{{ team.confederation }}</td>
          <td *ngIf="selectedTab === 'CLUBES'" [attr.data-label]="'Liga'">{{ team.league }}</td>
          <td [attr.data-label]="'Score'">{{ team.score }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>